.slidein {
    position: fixed; 
    z-index: 100;
    right: -60%;
    transition: all .5s ease-in-out; 
}

.slidein2 {
    z-index: 100;
    left: -52%;
    transition: all .5s ease-in-out; 
}

.open {
    right: 0; 
}

.open2 {
    left: 0; 
}

