.slideinR {
    position: fixed; 
    z-index: 100;
    right: -60%;
    transition: all .5s ease-in-out; 
}

.slidInR {
    left: 0 !important;
}

.slideinL {
    position: fixed; 
    z-index: 100;
    right: -60%;
    transition: all .5s ease-in-out; 
}

.slidInL {
    right: 0 !important;
}

