.imageGallery {
    box-sizing: border-box;
	margin: 2rem;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 3vw;
}

.imageGallery figure img {
    display: block;
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.imgTall {
	grid-row: span 2;
}