.imageGallery {
    box-sizing: border-box;
	display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 7rem;
    margin-bottom: 2.5rem;
    margin-right: 2rem;

    height: 60%;
    overflow: scroll;
}

.artBox {
    height: 8rem;
    width: 8rem;
    object-fit: contain;
    margin: 0.5rem;
    cursor: default;
}

.imgTall {
	grid-row: span 2;
}