html, body {
    background-color: var(--offWhite);
    overflow-x: hidden;
}

/* @media screen and (max-width: 768px) {
    ::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 10px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: rgba(91, 109, 127, .5);
    }
} */
