:root {
    --darkBlue: #5B647F;
    --darkerBlue: #363c4b;
    --yellow: #EECD41;
    --darkYellow: #cba600;
    --lightBlue: #BCE2E8;
    --midBlue: #819ca0;
    --offWhite: #F8F8F8;
    --darkGrey: #505050;
    --darkerGrey: #2e2e2e;
}