.imageGallery {
    box-sizing: border-box;
	display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 7rem;
    margin-bottom: 2.5rem;
    margin-right: 2rem;
    padding: 1.5rem;

    height: 60%;
    width: 70%;
    overflow: scroll;
}

@media screen and (max-width: 1412px) {
    .imageGallery {
        grid-template-columns: repeat(2, 1fr);
        height: 80%;
        width: 100%;
        position: relative;
        right: 1rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
        margin-left: 0;
        padding: 0;
    }
}

@media screen and (max-width: 1024px) {
    .imageGallery {
        grid-template-columns: repeat(3, 1fr);
        margin-top: 12rem;
        height: 60%;
    }
}

@media screen and (max-width: 767px) {
    .imageGallery {
        grid-template-columns: repeat(1, 1fr);
        height: 80%;
        width: 100%;
        position: relative;
        right: 1rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
        margin-left: 0;
        padding: 0;
    }
}

.artBox {
    height: 8rem;
    width: 8rem;
    object-fit: contain;
    margin: 0.5rem;
    cursor: default;

    border: 5px solid white;

    box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.75);
}

@media screen and (max-width: 768px) {
    .artBox {
        height: 7rem;
        width: 7rem;
    }
}

@media screen and (max-width: 320px) {
    .artBox {
        height: 6rem;
        width: 6rem;
    }
}

@media screen and (max-width: 280px) {
    .artBox {
        height: 4rem;
        width: 4rem;
    }
}