.layout1 {
    display: grid; 
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr;
    background-color: var(--darkBlue);
    position: relative;
    margin-right: 0;
}

@media screen and (max-width: 768px) {
    .layout1 {
        display: grid;
        grid-template-columns: 5fr 1fr;
        position: relative;
        width: 100%;
    }
}

.layout2 {
    display: grid; 
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 1fr;
    background-color: var(--yellow);
    position: relative; 
    margin-left: 0;
}

.centrePage {
    width: 85%;
    background-color: var(--offWhite);
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding-left: 3rem;
    padding-top: 3rem;
    padding-bottom: 17rem;
    box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.75);
}

@media screen and (max-width: 768px) {
    .centrePage {
        width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 4rem;
        padding-bottom: 0;
        margin-top: 4rem;
        margin-bottom: 4rem;
    }
}

.whitePage1 {
    width: 110%;
    background-color: var(--offWhite);
    margin-top: 3rem;
    margin-bottom: 3rem;
    /* margin-left: 3rem; */
    padding-left: 3rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.75);
}

@media screen and (max-width: 768px) {
    .whitePage1 {
        margin-left: 1.5rem;
        margin-bottom: 2rem;
        padding-top: 1.5rem;
        padding-left: 1.5rem;
        padding-bottom: 1.5rem;
    }
}


.whitePage2 {
    width: 110%;
    background-color: var(--offWhite);
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-right: 3rem;
    padding-left: 8rem;
    padding-right: 4rem;
    padding-top: 3rem;
    padding-bottom: 2rem;
    padding-bottom: 17rem;
    box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.75);
}

@media screen and (max-width: 768px) {
    .whitePage2 {
        width: 65%;
        margin-right: 1.5rem;
        padding-top: 1.5rem;
        padding-right: 1.5rem;
        padding-left: 6rem;
        padding-bottom: 0.5rem;
    }
}

