.header-main {
	height: 5rem;
	font-size: 2rem;
	width: 100%;
	position: fixed;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	z-index: 999;	
	background-color: var(--offWhite);
	box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.33);
}

.navSpacer {
    height: 8rem;
}

@media screen and (max-width: 1366px) {
	.header-main {
		box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.33);
	}

	.navTabs {
		position: relative;
		height: 7rem;
		top: 8rem;
		z-index: 9;
		width: 100%;
		display: grid;
		grid-template-columns: repeat(4, minmax(0, 1fr));
		box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.33);
	}

	/* #slide {
		height: 100px;
		transition: height 500ms ease;
	} */

	.tabPink {
		border-bottom: none;
		padding-left: 0.5rem;
		padding-top: 1rem;
		background-color: var(--apricot);
		box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.33);
	}

	.tabTurq {
		border-bottom: none;
		padding-left: 0.5rem;
		padding-top: 1rem;
		background-color: var(--midTurq);
		box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.33);
	}

	.tabTurqDark {
		border-bottom: none;
		padding-left: 0.5rem;
		padding-top: 1rem;
		background-color: var(--darkerTurq);
		box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.33);
	}

	.tabBlue {
		border-bottom: none;
		padding-left: 0.5rem;
		padding-top: 1rem;
		color: var(--offWhite);
		background-color: var(--indyBlue);
		box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.33);
	}
}

.header-alt{
	height: 5rem;
	font-size: 2rem;
	width: 100%;
	position: fixed;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	z-index: 10;	
	background-color: var(--offWhite);
	box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.33);
}

#stickyHeader {
	border: 1.5rem solid var(--offWhite);
}  

.nav-main {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 2rem;
	background-color: var(--offWhite);
	padding-right: 3rem;
}

.icon-menu {
	padding-right: 3rem;
}

@media screen and (max-width: 1366px) {
	.nav-main {
		display: none;
	}
}

@media screen and (min-width: 1367px) {
	.icon-menu {
		display: none;
	}
}


