.sliderPage1 {
    cursor: default;
    width: 85%;
    max-height: 80%;

    margin-top: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;

    background-color: var(--offWhite);
    box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.75);
}

@media screen and (max-width: 1024px) {
    .sliderPage1 {
        margin-top: 15rem;
        height: 50%;
    }
}

@media screen and (max-width: 768px) {
    .sliderPage1 {
        margin-top: 3rem;
        margin-bottom: 3rem;
        padding-top: 1rem;
        padding-left: 1rem;
        padding-right: 0.5rem;
        padding-bottom: 1rem;
    }
}

@media screen and (max-width: 280px) {
    .sliderPage1 {
        padding-left: 0.5rem;
        position: relative;
        width: 120%;
        right: 2rem;
    }
}

.sliderPage2 {
    cursor: default;
    width: 90%;
    max-height: 80%;
    margin-top: 3rem;
    
    background-color: var(--offWhite);
    padding-left: 2rem;

    box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.75);
}

@media screen and (max-width: 1024px) {
    .sliderPage2 {
        margin-top: 15rem;
        height: 50%;
    }
}

@media screen and (max-width: 768px) {
    .sliderPage2 {
        max-width: 90%;
        margin-top: 3rem;
        margin-bottom: 3rem;
        padding: 0.5rem;
    }
}

@media screen and (max-width: 280px) {
    .sliderPage2 {
        position: relative;
        left: 1rem;
    }
}

.sliderHolder1 {
    position: absolute;
    z-index: 100;
    right: -52%;
    transition: all .5s ease-in-out; 

    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr 5fr;
    
    width: 60%;
    height: fit-content;

    margin-top: 2rem;
    margin-bottom: 2rem;

    box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.75);

    background: rgb(91,100,127);
    background: -moz-linear-gradient(180deg, rgba(91,100,127,1) 0%, rgba(38,41,52,1) 2%, rgba(91,100,127,1) 2%, rgba(91,100,127,1) 98%, rgba(38,41,52,1) 98%, rgba(91,100,127,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(91,100,127,1) 0%, rgba(38,41,52,1) 2%, rgba(91,100,127,1) 2%, rgba(91,100,127,1) 98%, rgba(38,41,52,1) 98%, rgba(91,100,127,1) 100%);
    background: linear-gradient(180deg, rgba(91,100,127,1) 0%, rgba(38,41,52,1) 2%, rgba(91,100,127,1) 2%, rgba(91,100,127,1) 98%, rgba(38,41,52,1) 98%, rgba(91,100,127,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5b647f",endColorstr="#5b647f",GradientType=1);
}

@media screen and (max-width: 1024px) {
    .sliderHolder1 {
        height: 97%;
        margin-top: 1rem;
    }
}

@media screen and (max-width: 768px) {
    .sliderHolder1 {
        height: 92%;
    }
}

.sliderHolder2 {
    position: absolute;
    z-index: 100;
    left: -52%;
    transition: all .5s ease-in-out; 

    cursor: pointer;
    display: grid;
    grid-template-columns: 5fr 1fr;
    
    width: 60%;
    height: 92%;

    margin-top: 2rem;
    margin-bottom: 2rem;

    box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.75);

    background: rgb(239,209,81);
    background: -moz-linear-gradient(180deg, rgba(239,209,81,1) 0%, rgba(175,145,20,1) 2%, rgba(239,209,81,1) 2%, rgba(239,209,81,1) 98%, rgba(175,145,20,1) 98%, rgba(238,205,65,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(239,209,81,1) 0%, rgba(175,145,20,1) 2%, rgba(239,209,81,1) 2%, rgba(239,209,81,1) 98%, rgba(175,145,20,1) 98%, rgba(238,205,65,1) 100%);
    background: linear-gradient(180deg, rgba(239,209,81,1) 0%, rgba(175,145,20,1) 2%, rgba(239,209,81,1) 2%, rgba(239,209,81,1) 98%, rgba(175,145,20,1) 98%, rgba(238,205,65,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#efd151",endColorstr="#eecd41",GradientType=1);
}

@media screen and (max-width: 1024px) {
    .sliderHolder2 {
        height: 97%;
        margin-top: 1rem;
    }
}

@media screen and (max-width: 768px) {
    .sliderHolder2 {
        height: 89%;
    }
}

@media screen and (max-width: 320px) {
    .sliderHolder2 {
        height: 93%;
    }
}

@media screen and (max-width: 280px) {
    .sliderHolder2 {
        height: 91%;
    }
}

.sliderHolder3 {
    position: absolute;
    z-index: 100;
    right: -52%;
    transition: all .5s ease-in-out; 

    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr 5fr;
    
    width: 60%;
    height: 91%;

    margin-top: 2rem;
    margin-bottom: 2rem;

    box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.75);

    background: rgb(188,226,232);
    background: -moz-linear-gradient(180deg, rgba(188,226,232,1) 0%, rgba(130,156,161,1) 2%, rgba(188,226,232,1) 2%, rgba(188,226,232,1) 98%, rgba(130,156,161,1) 98%, rgba(188,226,232,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(188,226,232,1) 0%, rgba(130,156,161,1) 2%, rgba(188,226,232,1) 2%, rgba(188,226,232,1) 98%, rgba(130,156,161,1) 98%, rgba(188,226,232,1) 100%);
    background: linear-gradient(180deg, rgba(188,226,232,1) 0%, rgba(130,156,161,1) 2%, rgba(188,226,232,1) 2%, rgba(188,226,232,1) 98%, rgba(130,156,161,1) 98%, rgba(188,226,232,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#bce2e8",endColorstr="#bce2e8",GradientType=1);
}

@media screen and (max-width: 768px) {
    .sliderHolder3 {
        height: 92%;
    }
}

@media screen and (max-width: 1024px) {
    .sliderHolder3 {
        height: 97%;
        margin-top: 1rem;
    }
}

.sliderCopy {
    display: grid;
    box-sizing: border-box;
    grid-template-rows: repeat(3, 1fr);
    padding-top: 2rem;
    padding-bottom: 2rem;
}

@media screen and (max-width: 768px) {
    .sliderCopy {
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-right: 1rem;
    }
}

.sliderCopyBox {
    cursor: pointer;
    background-color: var(--yellow);
    margin-right: 3rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    padding: 0.5rem;
    height: 7rem;
}

.sliderCopyBox:hover {
    background-color: var(--darkYellow);
    
}

@media screen and (max-width: 768px) {
    .sliderCopyBox {
        margin-right: 0;
        height: 80%;
    }
}

.skillsList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    overflow: scroll;
}

@media screen and (max-width: 768px) {
    .skillsList {
        display: block;
    }
}

.devBox {
    cursor: pointer;
    background-color: var(--darkBlue);

    display: grid;
    align-items: center;
    width: 90%;
    height: fit-content;

    padding: 0.5rem;
    margin: auto;
}

.devBox:hover {
    background-color: var(--darkerBlue);
}

@media screen and (max-width: 768px) {
    .devBox {
        margin-top: 1rem;
    }
}

@media screen and (max-width: 1000px) {
    .devBox {
        margin-top: 0.5rem;
        width: 80%;
        height: 5rem;
    }
}