.rightTab {
    width: 200%;
    position: absolute;
}

.rightTabHolder {
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.leftTab {
    width: 200%;
    position: absolute;
    right: 1rem;
}

@media screen and (max-width: 768px) {
    .leftTab {
        width: 10rem;
        top: 13rem;
        left: -7rem;
    }
}

.leftTabHolder {
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 20;
}

.tabHolder {
    width: 2rem;
}

