.rightTab {
    min-width: 150%;
    position: absolute;
}

@media screen and (max-width: 1268px) {
    .rightTab {
        width: 10rem;
        left: -0.5rem;
    }
}

@media screen and (max-width: 768px) {
    .rightTab {
        width: 10rem;
        left: -0.5rem;
    }
}

.rightTabHolder {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.leftTab {
    min-width: 150%;
    position: absolute;
    right: 3rem;
}

@media screen and (max-width: 768px) {
    .leftTab {
        height: 8rem;
        left: -5rem;
    }
}

.tabHolder1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 20;
}

.tabHolder {
    width: 2rem;
}

