p {
    font-family: 'Roboto', sans-serif;
	font-weight: normal;
	font-size: 16pt;
    color: var(--darkBlue);
    line-height: 150%;
}

@media screen and (max-width: 768px) {
    p {
        font-size: 11pt;
        line-height: 1rem;
    }
}

.contactP {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 16pt;
    color: var(--offWhite);
    padding-bottom: 2rem;
    line-height: 150%;
}

@media screen and (max-width: 768px) {
    .contactP {
        font-size: 11pt;
        line-height: 1rem;
    }
}

.contactLink {
    color: var(--offWhite);
    text-decoration: underline;
}

.contactLink:hover {
    color: var(--darkBlue);
    background-color: var(--lightBlue);
}

.bodyPL{
    padding-bottom: 2rem;
    margin-right: 4rem;
}

@media screen and (max-width: 768px) {
    .bodyPL {
        margin-right: 6rem;
    }
}

p.bodyPR{
    padding-bottom: 2rem;
}

.bodyText {
    width: 80%;
    margin-top: 5rem;
}

@media screen and (max-width: 768px) {
    .bodyText {
        width: 75%;
        margin-top: 2rem;
    }
}

h1 {
    font-family: 'Bebas Neue', sans-serif;
	font-weight: normal;
	font-size: calc(80px + 1.5vw);
	color: var(--darkBlue);
	text-decoration: none;
	text-transform: capitalize; /* for backup fonts */
}

h2 {
    font-family: 'Bebas Neue', sans-serif;
	font-weight: normal;
    font-size: calc(40px + 1.5vw);
    color: var(--darkBlue);
	text-decoration: none;
    text-transform: capitalize; /* for backup fonts */
    margin-bottom: 4rem;
}

@media screen and (max-width: 280px) {
    h2 {
        max-width: 10rem;
    }
}

@media screen and (max-width: 768px) {
    h2 {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
}

.navName {
    margin: 0;
}

.h2alternate {
    text-align: right;
}

.sliderTitle1 {
    background-color: var(--offWhite);

    min-width: 5rem;
    max-width: 6rem;
    max-height: 12rem;

    margin-top: 12rem;
    margin-bottom: 12rem;
    text-align: center;
    padding: 0 1rem 0 1rem;
    border-radius: 10px 0 0 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    right: 2.5rem;

    box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.75);
}

@media screen and (max-width: 768px) {
    .sliderTitle1 {
        right: 3rem;
        padding-right: 0.5rem;
        padding-left: 0.5rem;
        min-width: 3.7rem;
        max-height: 7rem;
    }
}

.sliderTitle2 {
    background-color: var(--offWhite);

    min-width: 5rem;
    max-width: 6rem;
    max-height: 12rem;

    margin-top: 12rem;
    margin-bottom: 12rem;
    text-align: center;
    padding: 0rem 1rem 0rem 1rem;
    border-radius: 0 10px 10px 0;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    left: 2.5rem;

    box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.75);
}

@media screen and (max-width: 768px) {
    .sliderTitle2 {
        left: 3rem;
        padding-right: 0.3rem;
        padding-left: 0.3rem;
        min-width: 3.7rem;
        max-height: 7rem;
    }
}

h3 {
    font-family: 'Bebas Neue', sans-serif;
	font-weight: normal;
    font-size: calc(20px + 1.5vw);
    color: var(--darkBlue);
	text-decoration: none;
	text-transform: capitalize; /* for backup fonts */
}

h4 {
    font-family: 'Bebas Neue', sans-serif;
	font-weight: normal;
    font-size: calc(14px + 1.5vw);
    color: var(--darkBlue);
	text-decoration: none;
	text-transform: capitalize; /* for backup fonts */
}

.devPreview {
    color: var(--offWhite);
}

.verticalText {
    writing-mode: vertical-rl; 
    transform: scale(-1);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

@media screen and (max-width: 768px) {
    .verticalText {
        display: none;
    }
}

.verticalTextAlternate {
    writing-mode: vertical-rl; 
    height: 40rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2rem;
    margin-left: 2rem;
}

@media screen and (max-width: 768px) {
    .verticalTextAlternate {
        display: none;
    }
}

.whiteText {
    color: var(--offWhite);
}

/* .tabText {
    text-align: center;
    z-index: 999;
    font-family: 'Bebas Neue', sans-serif;
	font-weight: normal;
    font-size: 2rem;
    color: var(--darkBlue);
	text-decoration: none;
	text-transform: capitalize; /* for backup fonts */
/* } */

/* .tabTextAlternate {
    position: relative;
    left: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
} */ 

ul {
    /* padding-bottom: 1rem; */
    padding-top: 1rem;
}

@media screen and (max-width: 768px) {
    ul {
        padding-top: 0.7rem;
        margin-bottom: 1rem;
    }
}

li {
    font-family: 'Roboto', sans-serif;
	font-weight: normal;
	font-size: 12pt;
    color: var(--darkBlue);
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 0.5rem;
}

@media screen and (max-width: 768px) {
    li {
        font-size: 10pt;
        padding-top: 0.1rem;
        padding-bottom: 0.1rem;
    }
}

a {
	font-family: 'Roboto', sans-serif;
	color: var(--darkBlue);
	border-bottom: none;
	text-decoration: none;
}

a.currentPage {
	color: var(--indyBlue);
	padding-bottom: 2px;
	border-bottom: 4px solid var(--darkBlue);
}

a.bodyLink {
    text-decoration: underline;
}

a.bodyLink:hover {
    background-color: var(--lightBlue);
}

.navlink1, .navlink2, .navlink3, .navlink4 {
	font-family: 'Bebas Neue', sans-serif;
	color: var(--darkBlue);
	font-weight: 300;
	padding-bottom: 2px;
	border-bottom: 4px solid var(--offWhite);
}

.navlink1:hover {
	padding-bottom: 2px;
	border-bottom: 4px solid var(--darkBlue);
	transition: all .1s ease-in;
}

.navlink2:hover {
	padding-bottom: 2px;
	border-bottom: 4px solid var(--yellow);
	transition: all .1s ease-in;
}

.navlink3:hover {
	padding-bottom: 2px;
	border-bottom: 4px solid var(--lightBlue);
	transition: all .1s ease-in;
}

.navlink4:hover {
	padding-bottom: 2px;
	border-bottom: 4px solid var(--darkGrey);
	transition: all .1s ease-in;
}

.devText {
    width: 70%;
}

@media screen and (max-width: 768px) {
    .devText {
        width: 90%;
    }
}

.copyText {
    width: 80%;
    margin-right: 3rem;
}

@media screen and (max-width: 768px) {
    .copyText {
        margin-right: 0rem;
        margin-left: 0.5rem;
    }
}