p {
    font-family: 'Roboto', sans-serif;
	font-weight: normal;
	font-size: 16pt;
	color: var(--darkBlue);
}

h1 {
    font-family: 'Bebas Neue', sans-serif;
	font-weight: normal;
	font-size: calc(80px + 1.5vw);
	color: var(--darkBlue);
	text-decoration: none;
	text-transform: capitalize; /* for backup fonts */
}

h2 {
    font-family: 'Bebas Neue', sans-serif;
	font-weight: normal;
    font-size: calc(40px + 1.5vw);
    color: var(--darkBlue);
	text-decoration: none;
	text-transform: capitalize; /* for backup fonts */
}

.verticalText {
    writing-mode: vertical-rl; 
    transform: scale(-1);
    height: 40rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.whiteText {
    color: var(--offWhite);
}

.tabText {
    position: relative;
    left: -2.5rem;
    bottom: 7rem;
    text-align: center;
    z-index: 999;
    font-family: 'Bebas Neue', sans-serif;
	font-weight: normal;
    font-size: 2rem;
    color: var(--darkBlue);
	text-decoration: none;
	text-transform: capitalize; /* for backup fonts */
}